.right {
    position: absolute;
    right: 100px;
    width: 300px;
    border: 3px solid steelblue;
    padding: 10px;
}

.pagetitle {
	position: relative;
	text-align: right;
    right: 100px;
    padding: 20px;
}

.bar{
    fill: steelblue;
 }

.bar:hover{
    fill: red;
}

.axis {
	  font: 12px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}


hover.tooltip {	
    position: absolute;			
    text-align: left;			
    width: 150px;					
    height: 90px;					
    padding: 2px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
    pointer-events: none;			
}